__pycache__/
minecraft_fishing/config.json
minecraft_fishing/debug_bar.png
minecraft_fishing/debug_bobber.png
minecraft_fishing/subtitle.png
minecraft_fishing/logs/
minecraft_fishing/error.txt
history.json
history.tmp
inv_debug.png
tooltip_debug.png
macro.log
macro.log.1
minecraft_fishing/anvil_view.png
